<header class="hero push-bottom">
  <h1>Birdey</h1>

  <blockquote>
    <p>Get your last tweet hassle free.</p>
  </blockquote>
</header>

<main>
  <% if @ranking %>
    <section class="push-bottom">
      <h2>Ranking</h2>
      <table>
        <thead>
          <tr>
            <th>Username</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          <% @ranking.each do |row| %>
          <tr>
            <td><%= row[0] %></td>
            <td><%= row[1] %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </section>
  <% end %>

  <section class="push-bottom">
    <h2>Try it</h2>

    <blockquote class="tweet">
      <p>Try me now, type in your <em>username</em> below and see the magic happen!</p>
      <cite>&mdash; Birdey</cite>
    </blockquote>

    <form class="try">
      <input type="text" name="username">
      <button class="blue">Go fetch it!</button>
    </form>
  </section>

  <section class="push-bottom">
    <h2>Usage</h2>

    <pre><span class="verb">GET</span> <span class="path">/username</span></pre>

    <p>Will return user's last tweet in HTML with <strong>mentions and addresses as anchors</strong>.</p>
    <p>There are several formats you can request, take a look at the table below:</p>

    <table>
      <thead>
        <tr>
          <th>Format</th>
          <th>Description</th>
          <th>Example</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>HTML</td>
          <td>Response in <code>text/html</code>, auto link enabled.</td>
          <td><code>Hi! I am &lt;a class="tweet-url hashtag" href="https://twitter.com/#!/search?q=%23birdey" rel="nofollow" title="#birdey"&gt;#birdey&lt;/a&gt;, check me out &lt;a href="http://t.co/mTOdwr3FxU" rel="nofollow"&gt;http://t.co/mTOdwr3FxU&lt;/a&gt;</code></td>
        </tr>
        <tr>
          <td>JSON</td>
          <td>Response in <code>application/json</code>, an object with only the key <code>tweet</code>.</td>
          <td><code>{"tweet": "Hi! I am #birdey, check me out http://t.co/mTOdwr3FxU"}</code></td>
        </tr>
        <tr>
          <td>TXT</td>
          <td>Response in <code>plain/text</code>, just the tweet.</td>
          <td><code>Hi! I am #birdey, check me out http://t.co/mTOdwr3FxU</code></td>
        </tr>
        <tr>
          <td>JS</td>
          <td>Response in <code>text/javascript</code>. You also must provide a <code>callback</code> parameter in the URL.</td>
          <td><code>;fn('Hi! I am #birdey, check me out http://t.co/mTOdwr3FxU');</code></td>
        </tr>
      </tbody>
    </table>

    <h3>Example</h3>
    <p>You can easily embed a last tweet in your site with jQuery:</p>
    <pre>$('.twitter').load('//murmuring-badlands-6496.herokuapp.com/username');</pre>
    <p>Just replace the selector <code>.twitter</code> and the <code>username</code> with the appropriate ones and you're done.</p>

    <h3>Note</h3>
    <p>All tweets are cached for <strong>1 hour</strong>, so once you update your status you'll have to wait until the cache expires.</p>
  </section>

  <section class="push-bottom">
    <h2>Disclaimer</h2>

    <p>This is a pet project, not filiated nor funded by any company, thus it may change, it may cease to exist and you'll <strong>not be notified</strong>. Use at your own risk.</p>
  </section>
</main>

<footer>
  <p>Made by <a href="http://twitter.com/haggen">@haggen</a>, in Brazil. Source at <a href="https://github.com/haggen/birdey">GitHub</a>.</p>
</footer>