
body {
  font: 16px/1.5 Open Sans, sans-serif;
  padding: 1.618em 3.236em;
}

blockquote {
  margin-left: 0;
  padding-left: 1em;
  border-left: .2em solid #ccc;
}

header,
footer,
section {
  margin-bottom: 3.236em;
}

h1, h2, h3, p, table, blockquote {
  margin: 0 0 1rem;
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  margin-bottom: .4rem;
}

td, th {
  border: 1px solid #ccc;
  padding: .5em;
}

pre, code {
  background: #eee;
  font-size: .9em;
  padding: 4px;
}

a {
  color: #55acee;
}

input {
  -webkit-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #ccc;
  padding: .27em;
}

button {
 -webkit-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  border: 0; 
  padding: .27em;
}